<h2>My Heroes</h2>

<div>
  <label>
    Hero name:
    <input id="heroName" #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button id="addHero" (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes" class="hero">
    <a routerLink="/detail/{{hero._id}}">
      <span class="badge">{{hero.name}}</span>
      <span class="longidnumber">{{hero._id}}</span>
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">
      x
    </button>
  </li>
</ul>
