<div id="search-component">
  <h4>Hero Search</h4>
  <input #nameSearchBox id="search-box" (input)="nameSearch(nameSearchBox.value)" placeholder="Hero Name" />
  <ul class="search-results">
    <li class="hero-search-result" *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    <!--</li>-->
  </ul>

  <h4>Skill Search</h4>
  <input #skillSearchBox id="skill-search-box" (input)="skillSearch(skillSearchBox.value)" placeholder="Skill" />
  <ul class="search-results">
    <li class="skill-search-result" *ngFor="let skill of skills$ | async" >
      <a routerLink="/detail/{{hero.id}}">
        {{skill.name}}
      </a>
    <!--</li>-->
</ul>
</div>
